.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.social-logo {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-link:hover &,
  .social-link:focus & {
    fill: $bgc;
  }
}
.social-logo-footer {
  fill: $bgc;
  width: 20px;
  height: 20px;
}
.social-link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-list-footer {
  display: flex;
}
